
    <div id="siteWrapper" class="clearfix">

      <div class="sqs-cart-dropzone" style="top: 117px;"></div>

      <header id="header" class="show-on-scroll" data-offset-el=".index-section" data-offset-behavior="bottom" role="banner">
        <div class="header-inner">
          <div id="logoWrapper" class="wrapper" data-content-field="site-title">
            
              <h1 id="logoImage"><a href="/"><img src="https://www.pinclipart.com/picdir/big/450-4509932_permaculture-plant-a-tree-icon-png-clipart.png" alt="Plantify"></a></h1> <!---TOP_LEFT_ICON-->
            
          </div><!--
          --><div class="mobile-nav-toggle"><div class="top-bar"></div><div class="middle-bar"></div><div class="bottom-bar"></div></div><div class="mobile-nav-toggle fixed-nav-toggle"><div class="top-bar"></div><div class="middle-bar"></div><div class="bottom-bar"></div></div><!--
          --><div id="headerNav">

  <div id="mainNavWrapper" class="nav-wrapper" data-content-field="navigation-mainNav">
    <nav id="mainNavigation" data-content-field="navigation-mainNav">
      


            
            <div class="collection">
              <a href="/home">
                Home
              </a>
            </div>
            

   
            
           <!-- <div class="collection">
              <a href="/login">
                Login
              </a>
            </div>
        -->
          

            
            <div class="collection active">
              <a href="/apply">
                Join Us
              </a>
            </div>
     

      
    </nav>
  </div>

  <style>.mobile-nav-toggle-label { display: inline-block !important; }</style>


</div>
        </div>
      </header>
    
              
                <div id="promotedGalleryWrapper" class="sqs-layout promoted-gallery-wrapper"><div class="row"><div class="col"></div></div></div>
                

      <main id="page" role="main">
        
        <!--
        --><!--
        --><!--
        --><div id="content" class="main-content" data-content-field="main-content" data-collection-id="5922fea1d2b8577cbf9013a2" data-edit-main-image="">
         <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1553010701403" id="page-5922fea1d2b8577cbf9013a2"><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-473db7aac84ca7681634"><div class="sqs-block-content">
         <h1 style="white-space:pre-wrap;">Login</h1>
         <h3 style="white-space:pre-wrap;"
         ><%= form_tag '/login' do %></h3><p style="white-space:pre-wrap;" 
         >Username : <%= text_field_tag :"owner[username]" %><br /></p><p style="white-space:pre-wrap;" 
         >Password : <%= password_field_tag :"owner[password]" %><br /></p><p style="white-space:pre-wrap;" >
         <div class="lightbox-handle-wrapper lightbox-handle-wrapper--align-center">
         <%= submit_tag :Login, class: "lightbox-handle sqs-system-button sqs-editable-button" %>
        </div>
    <% end %>



</div></div></div></div></div>
        </div><!--
        -->
        
      </main>

      <div id="preFooter">
        <div class="pre-footer-inner">
        </div>
      </div>

      <footer id="footer" role="contentinfo">
          <div class="sqs-layout sqs-grid-12 columns-12" data-layout-label="Footer Content" data-type="block-field" data-updated-on="1491481033130" id="footerBlocks"><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_38_1484762367627_6976"><div class="sqs-block-content"><blockquote class="text-align-center">Branching out</blockquote></div></div></div></div></div>
        </div>
      </footer>

    </div>

    <script src="https://static1.squarespace.com/static/ta/52a74d9ae4b0253945d2aee9/1033/scripts/site-bundle.js" type="text/javascript"></script>
    <script type="text/javascript" data-sqs-type="imageloader-bootstrapper">(function() {if(window.ImageLoader) { window.ImageLoader.bootstrap({}, document); }})();</script><script>Squarespace.afterBodyLoad(Y);</script>

  

<div id="yui_3_17_2_1_1579623073234_127" class="yui3-widget sqs-widget sqs-modal-lightbox" hidden="hidden" style="display: none;"><div id="yui_3_17_2_1_1579623073234_129" class="sqs-modal-lightbox-content"><div class="lightbox-background"></div><div class="lightbox-inner" id="yui_3_17_2_1_1579623073234_147"><div class="lightbox-content" style="margin-top: 410.5px; margin-bottom: 410.5px;"><div class="form-wrapper" id="yui_3_17_2_1_1579623073234_122">
  <div class="form-title">Join the growing community</div>
  <div class="form-inner-wrapper">
    <form data-form-id="5922fea1d2b8577cbf9013a1" data-success-redirect="" autocomplete="on" method="POST" action="" onsubmit="return (function (form) {
  Y.use('squarespace-form-submit', 'node', function usingFormSubmit(Y) {
    (new Y.Squarespace.FormSubmit(form)).submit({
      formId: '5922fea1d2b8577cbf9013a1',
      collectionId: '5922fea1d2b8577cbf9013a2',
      objectName: 'page-5922fea1d2b8577cbf9013a2'
    });
  });
  return false;
})(this);">