<h1><%= @owner.name %>'s plant fam</h1>

<% @owner.plants.each do |plant|%>
<%= link_to plant.name, plant_type_path(plant.plant_type.id)%>
<%end%>

<%= button_to "Add New Plants to Your Plant Fam", new_plants_path, method: :get %>