<h1><%= @owner.username %>'s plant fam</h1>

<% @owner.plants.each do |plant|%>
<%= link_to plant.name, plant_type_path(plant.plant_type.id)%>
<%end%>

<%= button_to "Add new plants to your plant family", new_plant_path, method: :get %>