<h1>Check out all the wonderful list of houseplants!</h1>

<% @plant_types.each do |plant_type|%>
<%= plant_type.species %>
<%end%>
<p>Shows all Plant Types and can link to a list of owners who have this plant type</p>
