<h1>Edit Your Plant's Name</h1>
<%= form_for @plant do |f| %>
  Name of plant: <%= f.text_field :name %><br/>
  <%= f.collection_select :plant_types_id, @plant_type, :id, :species%> <br> <!--select method? -->
  <%= f.submit %>
</li>

<%end%>
