<h1>Hey Plant Parent <%= {@owner.name} %>!</h1> 

<h2>Check out our list of plants that you can add to your plant kindom! </h2>

<p> Let's say this is the landing page
    User should be able to see:
        - link to login page (we can do this last) 
        - search bar to find plants to add to their list
        - list of featured plants with photos (most popular plants)