<h1> Hey Plant Parent (would like to add personalized name)!</h1> 

<h2>Check out our list of plants that you can add to your plant kindom! </h2>

<p> Let's say this is the landing page
    User should be able to see:
        - login (last)
        - link to their personal page
        - search bar to find plants to add to their list

<div class="sqs-slide yui3-widget yui3-videofullbottom01 yui3-videofullbottom01-content sqs-slide-ready" data-slide-id="587e58bfc534a59c41165df7" data-slide-layout-id="video-full-bottom-01" data-slide-type="cover-page" id="yui_3_17_2_1_1579617016240_86">
	    <div class="sqs-slide-layer layer-back full-width-height">

  <div class="sqs-slide-layer-content">
    <div class="sqs-slice yui3-widget sqs-slice-gallery sqs-slice-gallery-content" data-slice-type="gallery" data-slice-id="587e5aaabe65944eb79e7829" id="yui_3_17_2_1_1579617016240_138">
  <div class="sqs-slice-gallery-item gallery-video-background content-fill filter-blur" data-config-url="" data-config-playback-speed="1" data-config-filter="2" data-config-filter-strength="24" id="yui_3_17_2_1_1579617016240_140">
    
    <iframe id="player" style="position: absolute; top: 0px; bottom: 0px; left: -302.778px; right: 0px; filter: blur(7.2px); width: 1459.56px; height: 821px;" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="640" height="360" src="https://www.youtube.com/embed/b7LR3xcjeV4?autohide=1&amp;autoplay=0&amp;controls=0&amp;enablejsapi=1&amp;iv_load_policy=3&amp;loop=0&amp;modestbranding=1&amp;playsinline=1&amp;rel=0&amp;showinfo=0&amp;wmode=opaque&amp;origin=https%3A%2F%2Fstrikeforceguild.com&amp;widgetid=1" class="background-video ready"></iframe>
  </div>

<div class="scrim"></div></div>
  </div>

</div>

<div class="sqs-slide-layer layer-front full-width-height" id="yui_3_17_2_1_1579617016240_85">

  <div class="sqs-slide-layer-content" id="yui_3_17_2_1_1579617016240_84">

    <div class="sqs-slice-group group-content full-width left-right stacked left-right-floats-off">

      <div class="sqs-slice-group group-copy stacked">

        <div class="sqs-slice-group group-branding">
          <div class="sqs-slice yui3-widget sqs-slice-heading sqs-slice-heading-content" data-slice-type="heading" data-compound-type="logo" data-slice-id="587e5a3637c5812c8ceab1f1" id="yui_3_17_2_1_1579617016240_181"><h1 id="sqs-slash-page-header" style="display: inline-block; white-space: nowrap;">Strike Force</h1>
</div><div class="sqs-slice" data-slice-type="heading" data-slice-id="587e5a3637c5812c8ceab1ef" data-content-empty="true"></div>
        </div>

        <div class="sqs-slice yui3-widget sqs-slice-body sqs-slice-body-content" data-slice-type="body" data-slice-id="587e5a3637c5812c8ceab1f0" id="yui_3_17_2_1_1579617016240_204"><p style="white-space: pre-wrap;">A gaming community that dates back to Magestorm and Guild Wars. Still going strong in Guild Wars 2.</p></div>
      </div>

      <div class="sqs-slice-group group-links">
        <div class="responsive-wrapper social" style="display: inline-block;">
          <div class="sqs-slice" data-slice-type="social-icons" data-content-empty="true"></div><div class="sqs-slice yui3-widget sqs-slice-navigation sqs-slice-navigation-content" data-slice-type="navigation" data-compound-type="action" data-slice-id="587e5a6486e6c09e3f71514b" id="yui_3_17_2_1_1579617016240_227"><ul><li><a href="/home">Home</a></li><li><a href="/history">History</a></li><li><a href="/apply">Join</a></li></ul></div><div class="sqs-slice" data-slice-type="custom-form" data-slice-id="587e8b9ebe6594f2dc0407c3" data-content-empty="true"></div>
        </div>
      </div>

    </div>

    <div class="sqs-slice-group group-video align-center text-align-center" id="yui_3_17_2_1_1579617016240_83">
      <div class="sqs-slice yui3-widget sqs-slice-video sqs-slice-video-content" data-slice-type="video" data-slice-id="587e59d6e6f2e195332199a3" id="yui_3_17_2_1_1579617016240_82">
    <div class="sqs-video-wrapper video-none" data-load="false" data-html="<iframe scrolling=&quot;no&quot; allowfullscreen=&quot;&quot; src=&quot;//www.youtube.com/embed/JtDcmsUQtaQ?wmode=opaque&amp;amp;enablejsapi=1&quot; width=&quot;854&quot; frameborder=&quot;0&quot; height=&quot;480&quot;>
</iframe>" data-provider-name="YouTube" id="yui_3_17_2_1_1579617016240_95">
    </div>


<a class="sqs-slice-play-button icon-wrapper">
  <div><svg viewBox="0 0 64 64">
    <use class="use-background" xlink:href="/universal/svg/ui.svg#play-background"></use>
    <use class="use-icon" xlink:href="/universal/svg/ui.svg#play-icon"></use>
  </svg></div>
</a>
</div>
    </div>
  </div>

</div>
	  </div>
