<h1> Hey Plant Parent (would like to add personalized name)!</h1> 

<h2>Check out our list of plants that you can add to your plant kindom! </h2>

<p> Let's say this is the landing page
    User should be able to see:
        - link to their personal page
        - search bar to find plants to add to their list
