   <div class="sqs-slice-group group-branding">
          <div class="sqs-slice yui3-widget sqs-slice-heading sqs-slice-heading-content" data-slice-type="heading" data-compound-type="logo" data-slice-id="587e5a3637c5812c8ceab1f1" id="yui_3_17_2_1_1579617016240_181"><h1 id="sqs-slash-page-header" style="display: inline-block; white-space: nowrap;">Plantify</h1>
</div><div class="sqs-slice" data-slice-type="heading" data-slice-id="587e5a3637c5812c8ceab1ef" data-content-empty="true"></div>
        </div>

        <div class="sqs-slice yui3-widget sqs-slice-body sqs-slice-body-content" data-slice-type="body" data-slice-id="587e5a3637c5812c8ceab1f0" id="yui_3_17_2_1_1579617016240_204"><p style="white-space: pre-wrap;">A plant enthusiast community that dates back to it's origins in 1734. <br>We are still growing strong, no pun intended.</p></div>
      </div>

      <div class="sqs-slice-group group-links">
        <div class="responsive-wrapper social" style="display: inline-block;">
          <div class="sqs-slice" data-slice-type="social-icons" data-content-empty="true"></div><div class="sqs-slice yui3-widget sqs-slice-navigation sqs-slice-navigation-content" data-slice-type="navigation" data-compound-type="action" data-slice-id="587e5a6486e6c09e3f71514b" id="yui_3_17_2_1_1579617016240_227"><ul><li><a href="/home"></a></li><li><a href="/login">Login</a></li><li><a href="/apply">Create Account</a></li></ul></div><div class="sqs-slice" data-slice-type="custom-form" data-slice-id="587e8b9ebe6594f2dc0407c3" data-content-empty="true"></div>
        </div>
      </div>
    </div>