<h1>Create New Plant</h1>

<%= form_for @plant do |f| %>
<label>Plant Name</label>
<%= f.text_field :name %><br>
<%= f.collection_select :plant_type, @plant_types, :id, :species %>
<%= f.submit %>
<%end%>
