<h1>Create New Plant</h1>


<%= form_for @owner.plants.each do |plant| %>
<%= f.text_field :name %><br>
<%= f.collection_select :plant_id, @plants, :id, :species%> <br> -->
<%= f.submit %>
</li>
<%end%>
